/* Debian language css file for hebrew - he */
/* For comments and suggestions please contact oznahum at gmail.com */

html[lang|=he] #serverselect {}
html[lang|=he] #maincol {}
html[lang|=he] #leftcol ul.cdmenu {
	width: 10em;
}
#logo {
	direction: ltr;
	float: left;
	margin-left: 6px;
	background: #fff;
}
	
q { font-style: italic; }
/* quotes */
html[lang|=he] q:before { content: "\201C"; }
html[lang|=he] q:after { content: "\201D"; } 
html[lang|=he] q q:before { content: "\2018"; }
html[lang|=he] q q:after { content: "\2019"; }

html[lang|=he] blockquote p:first-child:before { content: "\201C"; }
html[lang|=he] blockquote p.notlast:after { content: ""; }
html[lang|=he] blockquote p:after { content: "\201D"; }

html[lang|=he] blockquote.question p:before { content: ""; }
html[lang|=he] blockquote.question p:after, blockquote.documentquote p:after{ content: ""; }
html[lang|=he] blockquote { font-style: italic; }

/*
html[lang=en] .en2 q:before { content: "\2018"; }
html[lang=en] .en2 q:after { content: "\2019"; }
html[lang=en] .en2 q q:before { content: "\201C"; }
html[lang=en] .en2 q q:after { content: "\201D"; } 
*/
