/* Debian language css file for finnish - fi */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes ok */
html[lang=fi] q:before { content: "\201D"; }
html[lang=fi] q:after { content: "\201D"; }
html[lang=fi] q q:before { content: "\2019"; }
html[lang=fi] q q:after { content: "\2019"; }

html[lang=fi] blockquote.quote p:first-child:before { content: "\201D"; }
html[lang=fi] blockquote.quote p:after { content: ""; }
html[lang=fi] blockquote.quote p.last:after { content: "\201D"; }
